@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#preloader {
    background: #fff url("images/loader.gif") no-repeat center;
    background-size: 50%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

.animated-element {
    opacity: 0;
    /* initial state: hidden */
    transform: translateX(-15px);
    /* initial state: moved down */
    transition: opacity 0.5s, transform 0.5s;
    /* animation duration */
}

.animated-element.in-view {
    opacity: 1;
    /* final state: visible */
    transform: translateY(0);
    /* final state: moved up */
}


#navbar-btn-img {
    width: 50px;
    display: none;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

header {
    padding: 1rem;
    width: 100%;
    background: #2a5e5e;
    position: fixed;
    z-index: 1;
}

hr {
    width: 12rem;
    margin: 3rem auto;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav h1 {
    font-size: 2.5rem;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    font-size: 1.5rem;
}

header nav ul li {
    position: relative;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #159599;
    transition: width 0.3s ease-in-out;
}

header nav ul li:hover::after {
    width: 100%;
}

#theme-btn button {
    border-radius: 20px;
    border: none;
    outline: none;
}

#theme_img {
    width: 30px;
}


#main {
    height: 100vh;
    padding: 8rem 0;
}


main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main img {
    border-radius: 50%;
    margin: auto;
}

.bg {
    background: #2a5e5e;
}

main h1,
main h2,
main p {
    margin-top: 1rem;
}

main h1 {
    font-size: 2.5rem;
}

main h2 {
    font-size: 2rem;
}

main p {
    font-size: 1.4rem;
    text-align: center;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}


/* About Me Section */
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

#about {
    padding: 5rem 0;
}

.about {
    display: flex;
    padding: 3rem 5rem;
    gap: 30px;
    align-items: center;
}


.about p {
    font-size: 1.3rem;
    text-align: justify;
}

.about img {
    width: 400px;
    height: 323px;
    margin-left: 2rem;
}

.column {
    flex-direction: row-reverse;
    padding: 3rem 6rem;
}

/* Skills Section */
#skills {
    padding: 5rem 3rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.skill {
    width: 300px;
    height: 200px;
    margin: 1.4rem 0rem 1.4rem 2rem;
    border-radius: 20px;
    padding: 2.3rem 1.4rem;
}

.contact-info img {
    width: 450px;
    height: 350px;
}

.skill h2 {
    font-size: 1.5rem;
    text-align: center;
}

.skill p {
    font-size: 1.2rem;
    padding: 1.5rem;

}

/* Projects */
#projects {
    padding: 5rem 3rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
    justify-content: center;
    padding: 1rem;
    z-index: 0;
}

.project {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 450px;
    width: 800px;
    margin-top: 1rem;
    border-radius: 10px;
    ;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.project img {
    width: 280px;
    height: 300px;
    margin: 1rem;
    border-radius: 10px;
}

.p-text {
    text-align: center;
    padding: 1rem;
}

#contact {
    padding: 5rem 3rem;
}

.contact-info {
    display: flex;
    gap: 100px;
    padding: 3rem 0;
    align-items: center;
    justify-content: center;
}

.contact-info img {
    width: 450px;
    height: 350px;
}

.contact-info form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 310px;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
}

.contact-info form input {
    width: 200px;
    height: 40px;
    border-radius: 16px;
    text-align: center;
    border: none;
    outline: none;
}

.contact-info form textarea {
    width: 200px;
    height: 150px;
    border-radius: 16px;
    resize: none;
    text-align: center;
    padding: 20px;
    outline: none;
}

.contact-info form button {
    width: 100px;
    height: 40px;
    border-radius: 16px;
    border: none;
    outline: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    width: 100%;
}

footer p {
    font-size: 1.3rem;
    text-align: center;
}

#links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;

}

.links {
    display: flex;
    gap: 20px;
    padding: 1rem;
    align-items: center;
}

.links a {
    text-decoration: none;
}

.links img {
    width: 30px;
}

@media (max-width: 925px) {
    .about p {
        font-size: 0.9rem;
    }

    .about img {
        width: 250px;
        height: 250px;
    }

    .contact-info {
        gap: 20px;
    }

    footer {
        padding: 0 1rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    footer p span {
        display: block;
    }

    .links {
        gap: 5px;
    }

    #links {
        padding: 1rem;
    }

}

@media (max-width: 820px) {
    #navbar-btn-img {
        width: 50px;
        display: block;

    }


    #navbar-btn {
        width: 30vh;
        height: 10vh;
        position: fixed;
    }

    header {
        width: 30vh;
        height: 93vh;
        display: none;
        top: 8%;
    }

    header nav {
        flex-direction: column;
        padding: 0;
        height: 100%;
    }

    header nav ul {
        flex-direction: column;
        text-align: center;
    }

    #main {
        padding: 0;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 580px) {
    main h1 {
        font-size: 2rem;
    }

    main h2 {
        font-size: 1.6rem;
    }

    main p {
        font-size: 1.2rem;
        text-align: center;
        font-family: "Edu AU VIC WA NT Hand", cursive;
    }

    .title {
        text-align: center;
    }

    .about {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    #about {
        padding: 5rem 0;
    }

    .about img {
        margin: 1rem 0;
        width: 200px;
        height: 200px;
    }

    .about p {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    .projects {
        margin-left: 0;
    }

    #links {
        flex-direction: column;
        align-items: center;
    }

    .links {
        gap: 10px;
    }

    .links a {
        width: 70px;
    }

    .contact-info img {
        width: 310px;
    }
}